<style>
button
{
  color: blue;
  padding: 15px;
}
</style>

<h1>Carbon coins</h1>
<!-- <button><a routerLink="/testing">Profile</a></button>
<button><a routerLink="/testing-component">Comparison</a></button>
-->
<!-- <app-companies></app-companies> -->
<!-- <app-comparison></app-comparison> -->
<!-- <a routerLink="/profile"><button>Profile</button></a>
<span></span>
<a routerLink="/comparison">><button>Comparison</button></a>
<span></span>
<a routerLink="/companies">><button>Companies</button></a>
<span></span> -->
<!-- <app-testing></app-testing> -->
<!-- <app-testing-component></app-testing-component>   -->
<!-- <nav>
  <a routerLink="/testing" routerLinkActive="active">Login</a>
<br>
  <a routerLink="/testing-component" routerLinkActive="active" >Testing Component</a>
  <br>
  <a routerLink="/profile">Profile</a>
  <br>
  <a routerLink="/comparison">Comparison</a>
  <br>
  <a routerLink="/companies">Companies</a>
</nav> -->
<router-outlet></router-outlet>